torch --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
transformers
sentencepiece
fastapi
uvicorn
pillow
pydantic
accelerate
diffusers
ninja
protobuf
python-multipart
packaging
para-attn
